body {
  background-color: #d4ccbd;
  color: #333;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: #ffcc99;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 3em;
  font-style: italic;
  margin: 0;
  color: #444;
}

header img {
  max-width: 200px;
  height: auto;
  margin-top: 10px;
}

header nav .Caja {
  width: 1400px;
  background-color: #fff;
  border-radius: 25px;
  border: 1px solid #ccc;
  padding: 15px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin: 0 250px;
}

header nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1.5em;
  transition: color 0.3s, transform 0.3s;
}

header nav ul li a:hover {
  color: #ff6600;
  transform: scale(1.1);
}

main {
  padding: 20px;
}

#Comparación {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

table {
  border: 2px solid #683422;
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
  border: 2px solid #683422;
  padding: 10px;
}

section table img {
  width: 200px;
  height: auto;
  transition: transform 0.3s;
}

section table img:hover {
  transform: scale(1.1);
}

#Formulario {
  padding-top: 100px;
  font-size: 30px;
  font-family: 'Georgia', serif;
  color: #333;
}

#Formulario a {
  text-decoration: none;
  color: #333;
  background-color: #ffcc99;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

#Formulario a:hover {
  background-color: #ff6600;
  color: #fff;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
}

footer a {
  color: #ff6600;
  text-decoration: none;
  transition: color 0.3s;
}

footer a:hover {
  color: #fff;
}
